@font-face {
  font-family: Press Start;
  src: url('PrStart.ttf');
}
body,
html,
ul {
  padding: 0;
  margin: 0;
  background-color: #212121;
  font-family: 'Open Sans';
  font-weight: 400;
}
body {
  background: url('/images/paintbg4.png') 0 0 repeat-x;
  background-size: cover;
  background-attachment: fixed;
}
a {
  -webkit-transition: 0.2s all;
}
a {
  text-decoration: none;
}
.item {
  padding: 20px;
  width: 255px;
  width: 25%;
  box-sizing: border-box;
}
.img-grid {
  width: 100%;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  z-index: 200;
  box-shadow: 1px 1px 1px #212121;
}
header .arcade-title {
  font-family: 'Press Start';
  font-size: 22px;
  position: relative;
  top: -1px;
  color: white;
  padding-left: 6px;
}
header .header-container {
  height: 28px;
  background-color: #ff4d0f;
  text-transform: uppercase;
  width: 100%;
  display: block;
  font-size: 28px;
  padding: 5px 5px 5px 5px;
  font-family: 'Open Sans';
  font-weight: 800;
  color: white;
}
header .header-container .dba-title {
  position: relative;
  top: -5px;
  color: #363636;
}
header nav {
  color: #D9EAF5;
  background-color: #ff7803;
  width: 100%;
  font-family: 'Share Tech';
  font-size: 14px;
  padding: 10px;
}
header nav a {
  color: white;
}
header nav a:hover {
  color: #212121;
}
header nav ul {
  width: 100%;
  background-color: #ff7803;
  margin: auto;
  text-align: center;
}
header nav li {
  display: inline;
  padding: 10px 20px;
}
.main-content {
  padding-top: 100px;
  width: 980px;
  margin: auto;
}
h1 {
  font-family: 'Open Sans';
  color: #e6e6e6;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 3px;
  border-bottom: 1px solid #e6e6e6;
}
h2 {
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: 800;
  font-size: 55px;
  margin: 2px 0px;
  margin-left: 20px;
}
h2 a {
  color: inherit;
}
h2 a:hover {
  opacity: 0.7;
}
h3 {
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: 800;
  font-size: 25px;
  margin: 2px 0px;
}
h4 {
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: 800;
  font-size: 14px;
  margin: 2px 0px;
  color: #e6e6e6;
}
.game {
  width: 75px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.game:hover {
  opacity: 0.7;
}
.game img {
  display: block;
  margin: auto;
  padding-bottom: 10px;
}
.section.about p {
  color: #e6e6e6;
}
.cycle-slideshow,
.slide,
.slide-container {
  height: 400px;
  width: 100%;
}
.cycle-slideshow {
  background-color: blue;
  display: block;
}
.slideshow-container {
  position: relative;
}
.slider-pager {
  text-align: right;
  width: 100%;
  z-index: 500;
  position: absolute;
  bottom: -25px;
  right: 0px;
}
.slider-pager span {
  font-family: arial;
  font-size: 50px;
  width: 15px;
  height: 20px;
  margin-left: 5px;
  display: inline-block;
  background-color: #444;
  cursor: pointer;
}
.slider-pager span.cycle-pager-active {
  background-color: #FFED02;
}
.slider-pager > * {
  cursor: pointer;
}
#cboxLoadedContent {
  background: none !important;
}
.slide {
  background-color: #FFED02;
  top: 0px;
  position: relative;
}
.slide.mini {
  width: 760px;
  margin: 0;
  height: auto;
  padding-bottom: 20px;
  background-color: #FFFFF0;
}
.slide.mini p {
  font-size: 12px;
  width: 250px;
  padding-right: 20px;
}
.slide.mini .vim {
  vertical-align: top;
}
.slide p {
  width: 28%;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  width: 26%;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 28px;
}
.slide p.teaser a {
  text-decoration: none;
}
.slide p.teaser b {
  cursor: pointer;
  -webkit-transition: 0.2s all;
}
.slide p.teaser b *.no-style {
  cursor: default;
}
.slide p.teaser b *.no-style:hover {
  opacity: 1.0;
}
.slide p.teaser b:hover {
  opacity: 0.7;
}
.slide p a {
  color: inherit;
  text-decoration: underline;
}
.slide p a:hover {
  opacity: 0.7;
}
.mini-thumb {
  width: 277px;
  margin: auto;
  margin-top: 27px;
  box-shadow: 2px 2px 2px #000;
}
.mini-thumb.powerboat {
  margin-top: 27px;
  margin-left: 20px;
  height: 115px;
  width: auto;
}
.mini-thumb.powerboat.second {
  float: right;
  margin-right: 25px;
}
.video-container {
  width: 641px;
  height: 305px;
  background-color: red;
  display: inline-block;
  margin-right: 20px;
  float: right;
  background: url(nest_thumb.png) no-repeat 0 0;
  box-shadow: 2px 2px 2px #000;
}
.video-container.pbvideo {
  background: url(images/powerboat/powerboat_thumb.png) no-repeat 0 0;
}
.video-container.pmvideo {
  background: url(images/particlemace/pm_big.png) no-repeat 0 0;
}
.video-container.foiled {
  background: url(foiled_thumb.png) no-repeat 0 0;
}
.video-container:hover img.playButton {
  opacity: 0.7;
}
img.playButton {
  margin: auto;
  display: block;
  top: 50%;
  position: relative;
  margin-top: -50px;
}
img.playButton.sm {
  width: 10px;
  position: absolute;
  width: 30px;
  margin-top: -15px;
  left: 50%;
  margin-left: -22px;
}
a.little-thumb-link {
  display: inline-block;
  float: left;
  position: relative;
}
a.little-thumb-link:hover img.playButton {
  opacity: 0.7;
}
img.little-thumbnail {
  width: 150px;
  height: 100px;
  float: left;
  padding-right: 15px;
}
.left-section,
.right-section {
  width: 450px;
  color: #e6e6e6;
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
  margin: 0;
}
.left-section ul,
.right-section ul {
  margin-left: 19px;
  background-color: inherit;
}
.left-section ul a,
.right-section ul a {
  text-decoration: none;
  color: #FFED02;
}
.left-section a,
.right-section a {
  color: inherit;
  text-decoration: underline;
}
.left-section a:hover,
.right-section a:hover {
  opacity: 0.7;
}
.left-section h3 a,
.right-section h3 a {
  text-decoration: none;
}
.left-section {
  padding-left: 0px;
}
.press ul {
  list-style-type: none;
  background-color: inherit;
}
.press ul a {
  text-decoration: none;
  color: #e6e6e6;
}
.press ul a:hover {
  opacity: 0.7;
}
footer {
  margin-top: 50px;
  width: 100%;
  background-color: #ff4d0f;
  color: white;
  padding: 10px;
  font-size: 12px;
  text-align: right;
  box-sizing: border-box;
}
footer a {
  text-decoration: none;
  color: black;
}
footer a:hover {
  opacity: 0.7;
}
